/* Строчный код. Базовый сниппет группы; приёмы добавляются ниже. */
.markdown-preview-view.callmered-coloring {
  --hs-inline-code-inline-code-font-family: var(--hs-inline-code-font-code);
  --hs-inline-code-font-code: 'MesloLGS Nerd Font Mono', ui-monospace, monospace;
  --hs-inline-code-inline-pad-y: 0.04em;
  --hs-inline-code-inline-pad-x: 0.76em;
  --hs-inline-code-inline-margin: 0 0.04em;
  --hs-inline-code-radius-inline: 12px;
  --hs-inline-code-code-text: var(--cmr-color-code-text);
}

.markdown-preview-view.callmered-coloring :not(pre) > code {
  font-family: var(--hs-inline-code-inline-code-font-family);
  font-size: inherit !important;
  line-height: inherit !important;
}

.markdown-preview-view.callmered-coloring :not(pre) > code {
  padding-top: var(--hs-inline-code-inline-pad-y) !important;
  padding-bottom: var(--hs-inline-code-inline-pad-y) !important;
  padding-inline-start: var(--hs-inline-code-inline-pad-x) !important;
  padding-inline-end: var(--hs-inline-code-inline-pad-x) !important;
  margin: var(--hs-inline-code-inline-margin) !important;
  border-radius: var(--hs-inline-code-radius-inline) !important;
  border-width: 0 !important;
}

.markdown-preview-view.callmered-coloring :not(pre) > code {
  color: var(--hs-inline-code-code-text) !important;
  background-color: var(--cmr-color-green) !important;
}
