:is(.markdown-preview-view, .markdown-source-view) ul:not(li ul) {
  columns: 10em 2;
  column-gap: 2em;
}
:is(.markdown-preview-view, .markdown-source-view) ul:not(li ul) > li {
  position: relative;
  break-inside: avoid;
}

.markdown-preview-view ul:not(li ul) > li > .list-bullet {
  float: none;
  position: absolute;
  inset-inline-start: -.8em;
  margin-inline-start: 0;
}
