:is(.markdown-preview-view, .markdown-source-view) table {
  display: block;
  max-width: 100%;
  overflow: auto;
  border-collapse: separate;
  border-spacing: 0;
}
:is(.markdown-preview-view, .markdown-source-view) th, :is(.markdown-preview-view, .markdown-source-view) td {
  min-width: 7rem;
  white-space: nowrap;
}
:is(.markdown-preview-view, .markdown-source-view) table {
  max-height: 17rem;
}
:is(.markdown-preview-view, .markdown-source-view) thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--background-secondary);
  box-shadow: 0 1px var(--table-border-color);
}

