:is(.markdown-preview-view, .markdown-source-view) table, :is(.markdown-preview-view, .markdown-source-view) tbody, :is(.markdown-preview-view, .markdown-source-view) tr, :is(.markdown-preview-view, .markdown-source-view) td {
  display: block;
  width: 100%;
}
:is(.markdown-preview-view, .markdown-source-view) thead {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}
:is(.markdown-preview-view, .markdown-source-view) tbody>tr {
  padding: .65em 0;
  border-bottom: 1px solid var(--table-border-color);
}
:is(.markdown-preview-view, .markdown-source-view) td {
  border: 0;
  padding: .15em 0;
}
:is(.markdown-preview-view, .markdown-source-view) td:first-child {
  font-weight: var(--font-bold);
}
:is(.markdown-preview-view, .markdown-source-view) td+td {
  color: var(--text-muted);
}

