:is(.markdown-preview-view, .markdown-source-view) table {
  display: block;
  max-width: 100%;
  overflow: auto;
  border-collapse: separate;
  border-spacing: 0;
}
:is(.markdown-preview-view, .markdown-source-view) th, :is(.markdown-preview-view, .markdown-source-view) td {
  min-width: 7rem;
  white-space: nowrap;
}

