:is(.markdown-preview-view, .markdown-source-view) li[data-task] {
  position: relative;
  list-style: none;
  padding-inline-start: 1.9em;
  text-decoration: none;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task] > input, :is(.markdown-preview-view, .markdown-source-view) li[data-task] > p:first-child > input {
  display: none;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task]::before {
  content: attr(data-task);
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: .14em;
  display: grid;
  place-items: center;
  width: 1.25em;
  height: 1.25em;
  line-height: 1;
  font-weight: var(--font-bold);
  color: var(--interactive-accent);
}
:is(.markdown-preview-view, .markdown-source-view) ul:not(li ul) {
  counter-reset: q idea;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task] {
  padding-inline-start: 4.5em;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task]::before {
  width: 4em;
  justify-content: start;
  font-size: .85em;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="?"] {
  counter-increment: q;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="I"] {
  counter-increment: idea;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="?"]::before {
  content: "Q" counter(q);
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="I"]::before {
  content: "IDEA " counter(idea);
}

