@media print {
  :is(.markdown-preview-view, .markdown-source-view) .callout {
    background: white;
    color: black;
    border: 1px solid black;
    box-shadow: none;
    break-inside: avoid;
  }
}
@media print {
  :is(.markdown-preview-view, .markdown-source-view) .callout-title {
    color: black;
    break-after: avoid;
  }
}
@media print {
  :is(.markdown-preview-view, .markdown-source-view) .callout-content a::after {
    content: " (" attr(href) ")";
    font-size: .8em;
    overflow-wrap: anywhere;
  }
}

