:is(.markdown-preview-view, .markdown-source-view) a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--interactive-accent);
  text-underline-offset: .2em;
}
:is(.markdown-preview-view, .markdown-source-view) a:focus-visible {
  outline: 3px solid var(--interactive-accent);
  outline-offset: 7px;
  border-radius: calc(var(--radius-s) * 0.5);
}

