:is(.markdown-preview-view, .markdown-source-view) li code:not(pre code) {
  padding: .1em .3em;
  border-radius: .28em;
  background: var(--background-secondary);
  color: var(--interactive-accent);
}

