:is(.markdown-preview-view, .markdown-source-view) p:has(img) {
  margin: 0;
}
:is(.markdown-preview-view, .markdown-source-view) img {
  display: block;
  inline-size: 100%;
  block-size: 145px;
  object-fit: cover;
}
:is(.markdown-preview-view, .markdown-source-view) h3 {
  position: relative;
  margin: -2.5rem 1rem 0;
  padding: .6em;
  background: var(--background-primary);
  font-size: calc(var(--h3-size) * 1.176024);
  border: 1px solid var(--background-modifier-border);
}

