.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e040-level: h3;
}

@hacksidian-heading --hacksidian-heading-e040-level h3 {
.markdown-preview-view h3 {
  font-size: calc(var(--h3-size) * 1.517451);
}
.markdown-preview-view h3 strong {
  display: block;
  text-transform: uppercase;
  letter-spacing: .14em;
  font-size: calc(var(--h3-size) * 0.531108);
  color: var(--interactive-accent);
  font-weight: 750;
  margin-bottom: .7rem;
}
.markdown-preview-view h3 em {
  display: block;
  font-size: calc(var(--h3-size) * 0.758725);
  font-style: normal;
  font-weight: var(--font-normal);
  color: var(--text-muted);
  margin-top: .7rem;
}


}
