:is(.markdown-preview-view, .markdown-source-view) .callout[data-callout-fold="-"] > .callout-content {
  display: none;
}
:is(.markdown-preview-view, .markdown-source-view) .callout[data-callout-fold="-"] > .callout-title {
  margin-bottom: 0;
}
:is(.markdown-preview-view, .markdown-source-view) .callout[data-callout-fold="-"] > .callout-title::after {
  content: "›";
  margin-inline-start: auto;
}

