@media print {
  :is(.markdown-preview-view, .markdown-source-view) a[href^="https://"]::after {
    content: " (" attr(href) ")";
    font-size: .8em;
    overflow-wrap: anywhere;
  }
  :is(.markdown-preview-view, .markdown-source-view) a[href^="http://"]::after {
    content: " (" attr(href) ")";
    font-size: .8em;
    overflow-wrap: anywhere;
  }
}

