:is(.markdown-preview-view, .markdown-source-view) pre {
  max-inline-size: 100%;
  overflow: auto;
  padding: .8em;
  background: var(--background-secondary);
  line-height: calc(var(--line-height-normal) * 1);
  margin: .6em 0;
}
:is(.markdown-preview-view, .markdown-source-view) li + li {
  margin-block-start: 1em;
}
