:is(.markdown-preview-view, .markdown-source-view) blockquote {
  border: 0;
  padding: 0 1em;
  line-height: calc(var(--line-height-normal) * 1.266667);
  background: repeating-linear-gradient(to bottom,transparent 0 calc(1.9em - 1px),var(--background-modifier-border) calc(1.9em - 1px) 1.9em);
}
:is(.markdown-preview-view, .markdown-source-view) blockquote p {
  margin: 0;
}

