:is(.markdown-preview-view, .markdown-source-view) .callout {
  display: grid;
  grid-template-columns: minmax(0, 8em) minmax(0, 1fr);
  column-gap: calc(var(--icon-size, var(--icon-m)) + 2em);
  align-items: first baseline;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-title {
  margin: 0;
  padding: 0;
  line-height: var(--line-height-normal);
  align-items: baseline;
  position: relative;
  min-width: 0;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-content {
  border: 0;
  padding: 0;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-content > :first-child { margin-top: 0; }
:is(.markdown-preview-view, .markdown-source-view) .callout-content > :last-child { margin-bottom: 0; }
:is(.markdown-preview-view, .markdown-source-view) .callout > .callout-title > .callout-icon {
  position: absolute;
  inset-inline-start: calc(100% + 1em);
  inset-block-start: .5lh;
  transform: translateY(-50%);
  width: var(--icon-size, var(--icon-m));
  margin: 0;
}
