.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e050-level: h3;
}

@hacksidian-heading --hacksidian-heading-e050-level h3 {
.markdown-preview-view h3 {
  font-size: calc(var(--h3-size) * 2.124431);
  color: #fff6df;
  text-shadow: 1px 1px #9c422b,2px 2px #9c422b,3px 3px #9c422b,4px 4px #9c422b,5px 5px #9c422b,6px 6px #9c422b,7px 7px #9c422b;
  -webkit-text-stroke: .5px #9c422b;
}


}
