:is(.markdown-preview-view, .markdown-source-view) ol:not(li ol) {
  list-style: none;
  counter-reset: step;
  padding: 0;
}
:is(.markdown-preview-view, .markdown-source-view) ol:not(li ol) > li {
  counter-increment: step;
  position: relative;
  padding-inline-start: 3.8em;
  min-block-size: 2.5em;
}
:is(.markdown-preview-view, .markdown-source-view) ol:not(li ol) > li::before {
  content: counter(step);
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  display: grid;
  place-items: center;
  inline-size: 3em;
  block-size: 2.2em;
  color: var(--interactive-accent);
  font-weight: var(--font-bold);
}
:is(.markdown-preview-view, .markdown-source-view) ol:not(li ol) > li {
  min-block-size: 4em;
  padding-inline-start: 4.5em;
}
:is(.markdown-preview-view, .markdown-source-view) ol:not(li ol) > li::before {
  font-size: 2.4em;
  inline-size: 1.5em;
  block-size: 1.3em;
  color: transparent;
  -webkit-text-stroke: 1px var(--interactive-accent);
}
