:is(.markdown-preview-view, .markdown-source-view) ul:has(img) {
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  gap: .5em;
  padding: 0;
  list-style: none;
}
:is(.markdown-preview-view, .markdown-source-view) li {
  margin: 0;
}
:is(.markdown-preview-view, .markdown-source-view) img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: .35em;
}

