:is(.markdown-preview-view, .markdown-source-view) li[data-task] {
  position: relative;
  list-style: none;
  padding-inline-start: 1.9em;
  text-decoration: none;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task] > input, :is(.markdown-preview-view, .markdown-source-view) li[data-task] > p:first-child > input {
  display: none;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task]::before {
  content: attr(data-task);
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: .14em;
  display: grid;
  place-items: center;
  width: 1.25em;
  height: 1.25em;
  line-height: 1;
  font-weight: var(--font-bold);
  color: var(--interactive-accent);
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="?"] {
  --hack-pseudo-task-e09-tone: #3267a6;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="!"] {
  --hack-pseudo-task-e09-tone: #b73c4d;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="I"] {
  --hack-pseudo-task-e09-tone: #8161a8;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="b"] {
  --hack-pseudo-task-e09-tone: #30775e;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task]::before {
  color: var(--hack-pseudo-task-e09-tone,var(--interactive-accent));
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task]::before {
  font-family: "pseudo-task-e09-ITS Icons";
  font-weight: normal;
  font-size: 1.2em;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="?"]::before {
  content: "\ec05";
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="!"]::before {
  content: "\ec08";
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="I"]::before {
  content: "\ec16";
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="b"]::before {
  content: "\ec15";
}

