:is(.markdown-preview-view, .markdown-source-view) h3 {
  display: inline;
  font-size: calc(var(--h3-size) * 0.758725);
  font-weight: 850;
}
:is(.markdown-preview-view, .markdown-source-view) h3::after {
  content: ". ";
}
:is(.markdown-preview-view, .markdown-source-view) p {
  display: inline;
  font-size: calc(var(--font-text-size) * 1);
}
:is(.markdown-preview-view, .markdown-source-view) {
  display: block;
}
