:is(.markdown-preview-view, .markdown-source-view) code:not(pre code) {
  background: linear-gradient(to top,var(--text-highlight-bg) 40%,transparent 40%);
  padding-inline: .2em;
  white-space: normal;
  overflow-wrap: anywhere;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

