@media print {
  :is(.markdown-preview-view, .markdown-source-view) :is(h1,h2,h3,h4) {
    break-after: avoid-page;
  }
  :is(.markdown-preview-view, .markdown-source-view) :is(blockquote,pre,tr) {
    break-inside: avoid-page;
  }
  :is(.markdown-preview-view, .markdown-source-view) p {
    orphans: 3;
    widows: 3;
  }
}

