:is(.markdown-preview-view, .markdown-source-view) code:not(pre code) {
  padding: .1em .3em;
  background: repeating-linear-gradient(135deg,transparent 0 4px,var(--background-secondary) 4px 6px);
  border: 1px solid var(--code-border-color);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

