:is(.markdown-preview-view, .markdown-source-view) .callout {
  /**
   * @parameter Поле сверху
   * @type number
   * @default 1em
   * @unit em
   * @min 0
   * @max 5
   * @step .05
   */
  --hacksidian-callout-padding-top: 1em;
  /**
   * @parameter Поле справа
   * @type number
   * @default 1em
   * @unit em
   * @min 0
   * @max 5
   * @step .05
   */
  --hacksidian-callout-padding-right: 1em;
  /**
   * @parameter Поле снизу
   * @type number
   * @default 1em
   * @unit em
   * @min 0
   * @max 5
   * @step .05
   */
  --hacksidian-callout-padding-bottom: 1em;
  /**
   * @parameter Поле слева
   * @type number
   * @default 1em
   * @unit em
   * @min 0
   * @max 5
   * @step .05
   */
  --hacksidian-callout-padding-left: 0.5em;
  padding: var(--hacksidian-callout-padding-top) var(--hacksidian-callout-padding-right) var(--hacksidian-callout-padding-bottom) var(--hacksidian-callout-padding-left);
}

:is(.markdown-preview-view, .markdown-source-view) .callout > .callout-title {
  position: relative;
  padding-inline-start: var(--hacksidian-icon-margin-space, 2.1em);
}
:is(.markdown-preview-view, .markdown-source-view) .callout > .callout-title > .callout-icon {
  position: absolute;
  inset-inline-start: .25em;
  inset-block-start: calc(.5lh + var(--hacksidian-icon-title-top, 0px));
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
:is(.markdown-preview-view, .markdown-source-view) .callout > .callout-content {
  margin-inline-start: var(--hacksidian-icon-margin-space, 2.1em);
}
