:is(.markdown-preview-view, .markdown-source-view) .callout-content ul {
  padding-inline-start: 1.25em;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-content li {
  margin-block: .3em;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-content li::marker {
  color: var(--callout-color);
}

