:is(.markdown-preview-view, .markdown-source-view) strong {
  color: var(--interactive-accent);
}
@supports (background-clip: text) {
  :is(.markdown-preview-view, .markdown-source-view) strong {
    background: linear-gradient(100deg, var(--interactive-accent), #278765);
    background-clip: text;
    color: transparent;
  }
}
@supports (background-clip:text) {
  :is(.markdown-preview-view, .markdown-source-view) strong {
    background: linear-gradient(100deg,var(--interactive-accent),light-dark(#17664e,#8ad8c1));
    background-clip: text;
    color: transparent;
  }
}
@media print {
  :is(.markdown-preview-view, .markdown-source-view) strong {
    color: var(--text-normal);
    background: none;
  }
}

