:is(.markdown-preview-view, .markdown-source-view) .callout {
  /**
   * @parameter Скругление
   * @label-en Corner radius
   * @type number
   * @default 1.4em
   * @unit em
   * @min 0
   * @max 4
   * @step 0.1
   */
  --hacksidian-callout-technical-round-radius: 1.5em;
  /**
   * @parameter Внутренние поля
   * @label-en Inner padding
   * @type number
   * @default 1.35em
   * @unit em
   * @min 0
   * @max 3
   * @step 0.05
   */
  --hacksidian-callout-technical-round-padding: 1.9em;
  border: 0;
  border-radius: var(--hacksidian-callout-technical-round-radius);
  padding: var(--hacksidian-callout-technical-round-padding);
}
