.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e065-level: h3;
}

@hacksidian-heading --hacksidian-heading-e065-level h3 {
.markdown-preview-view h3 {
  animation: hack-heading-e065-heading-e065-unmask 5s ease infinite;
}
@keyframes hack-heading-e065-heading-e065-unmask {
  0%,10% {
    clip-path: inset(0 100% 0 0);
  }
  40%,90% {
    clip-path: inset(0);
  }
  100% {
    clip-path: inset(0 0 0 100%);
  }
}


}
