.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e113-level: h3;
}

@hacksidian-heading --hacksidian-heading-e113-level h3 {
.markdown-preview-view h3 {
  background: var(--interactive-accent);
  color: white;
  padding: .6em;
  text-shadow: 2px 2px #0004;
  font-size: calc(var(--h3-size) * 1.251897);
}
@media print {
  .markdown-preview-view h3 {
    background: white;
    color: black;
    text-shadow: none;
    border-bottom: 2px solid black;
  }
}


}
