:is(.markdown-preview-view, .markdown-source-view) h3 {
  max-inline-size: 19ch;
  font-size: calc(var(--h3-size) * 1.251897);
}
:is(.markdown-preview-view, .markdown-source-view) h3 em {
  white-space: nowrap;
  color: var(--interactive-accent);
}
