:is(.markdown-preview-view, .markdown-source-view) code:not(pre code) {
  padding: .65em .2em;
  background: var(--background-secondary);
}
:is(.markdown-preview-view, .markdown-source-view) p {
  line-height: calc(var(--line-height-normal) * 1.933333);
}

