.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e091-level: h3;
}

@hacksidian-heading --hacksidian-heading-e091-level h3 {
.markdown-preview-view {
  background: linear-gradient(110deg,#fff7df 50%,#173a32 50%);
  isolation: isolate;
}
.markdown-preview-view h3 {
  mix-blend-mode: difference;
  color: white;
  font-size: calc(var(--h3-size) * 2.048558);
}


}
