:is(.markdown-preview-view, .markdown-source-view) h3:has(+ pre), :is(.markdown-preview-view, .markdown-source-view) .el-h3:has(+ .el-pre) > h3 {
  margin: 0;
  padding: calc(var(--size-4-1) * 2.5) calc(var(--size-4-1) * 4.5);
  font: 600 12px/1.5 system-ui;
  background: #dce4d6;
  border-radius: calc(var(--radius-s) * 2) calc(var(--radius-s) * 2) 0 0;
}
:is(.markdown-preview-view, .markdown-source-view) h3 + pre, :is(.markdown-preview-view, .markdown-source-view) .el-h3 + .el-pre > p {
  margin-top: 0;
  border-radius: 0 0 calc(var(--radius-s) * 2) calc(var(--radius-s) * 2);
}

