:is(.markdown-preview-view, .markdown-source-view) a {
  transition: color .35s,background-color .35s;
}
:is(.markdown-preview-view, .markdown-source-view) a:hover {
  background: var(--background-secondary);
}
@media (prefers-reduced-motion:reduce) {
  :is(.markdown-preview-view, .markdown-source-view), :is(.markdown-preview-view, .markdown-source-view) * {
    animation: none!important;
    transition: none!important;
    scroll-behavior: auto!important;
  }
}

