:is(.markdown-preview-view, .markdown-source-view) a.tag {
  display: inline-block;
  padding: .15em .55em .15em 1em;
  background: var(--text-highlight-bg);
  clip-path: polygon(0 50%,.65em 0,100% 0,100% 100%,.65em 100%);
  mask: radial-gradient(circle at .5em 50%,transparent 0 .12em,#000 .14em);
}

