:is(.markdown-preview-view, .markdown-source-view) blockquote:has(>blockquote) {
  border-inline-start: 4px double var(--interactive-accent);
  padding-inline-start: 1em;
}
:is(.markdown-preview-view, .markdown-source-view) blockquote:not(:has(>blockquote)) {
  color: var(--text-muted);
}

