.markdown-preview-view > p:first-child, .markdown-preview-view .el-p:not(.el-p ~ .el-p) > p {
  font-size: calc(var(--font-text-size) * 1.22);
  line-height: var(--line-height-normal);
  font-weight: var(--font-medium);
  color: var(--text-normal);
}
