.markdown-preview-view > h1 + p, .markdown-preview-view .el-h1 + .el-p > p {
  font-size: calc(var(--font-text-size) * 1.22);
  line-height: var(--line-height-normal);
  font-weight: var(--font-medium);
  color: var(--text-normal);
}
