@media (prefers-contrast:more) {
  :is(.markdown-preview-view, .markdown-source-view) {
    --text-muted: var(--text-normal);
  }
  :is(.markdown-preview-view, .markdown-source-view) :is(blockquote,th,td) {
    border-color: var(--text-normal)!important;
    border-width: 2px!important;
  }
  :is(.markdown-preview-view, .markdown-source-view) a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

