:is(.markdown-preview-view, .markdown-source-view) li {
  padding: .45em .6em;
}
:is(.markdown-preview-view, .markdown-source-view) li:has(strong) {
  background: var(--text-highlight-bg);
  border-inline-start: 3px solid var(--interactive-accent);
}

