:is(.markdown-preview-view, .markdown-source-view) blockquote>p:first-child::first-letter {
  float: left;
  font: 3.7em/.85 Georgia,serif;
  padding: .07em .12em 0 0;
  color: var(--interactive-accent);
}

