:is(.markdown-preview-view, .markdown-source-view) pre {
  background: #202d29;
  color: #e3ebdf;
  border-radius: calc(var(--code-radius) * 2.5);
  padding-top: 0;
}
:is(.markdown-preview-view, .markdown-source-view) pre::before {
  content: "";
  display: block;
  height: 36px;
  margin-inline: calc(var(--size-4-1) * -4.5);
  margin-bottom: calc(var(--size-4-1) * 3.5);
  background: radial-gradient(circle at 20px 18px, #e78471 0 4px, transparent 5px), radial-gradient(circle at 36px 18px, #e8c67c 0 4px, transparent 5px), radial-gradient(circle at 52px 18px, #8bb58b 0 4px, transparent 5px), #ffffff0c;
}

