:is(.markdown-preview-view, .markdown-source-view) hr {
  height: 3px;
  background: linear-gradient(90deg,#c7704e,#647aa7);
}
@media print {
  :is(.markdown-preview-view, .markdown-source-view) hr {
    height: 0;
    background: none;
    border-top: 1px solid black;
    box-shadow: none;
  }
}

