:is(.markdown-preview-view, .markdown-source-view) {
  padding: 1em;
  background: #fffdf7;
  color: #252728;
}
:is(.markdown-preview-view, .markdown-source-view) a {
  color: var(--link-color);
}
@media(prefers-color-scheme:dark) {
  :is(.markdown-preview-view, .markdown-source-view) {
    background: #202428;
    color: #f5f1e8;
  }
}

