.markdown-preview-view,
.markdown-preview-view .markdown-preview-sizer {
  container-type: inline-size;
  display: flow-root;
}
.markdown-preview-view > blockquote,
.markdown-preview-view .el-blockquote > blockquote {
  background: var(--background-secondary);
  padding: 1em;
}
@container (min-width: 430px) {
  .markdown-preview-view > blockquote,
  .markdown-preview-view .el-blockquote:has(> blockquote) {
    float: right;
    width: 42%;
    box-sizing: border-box;
    margin: .3em 0 1em 1.2em;
    font-size: .9em;
  }
  .markdown-preview-view .el-blockquote > blockquote {
    margin: 0;
    width: auto;
  }
}
