:is(.markdown-preview-view, .markdown-source-view) ul {
  list-style: none;
  padding: 0;
}
:is(.markdown-preview-view, .markdown-source-view) li {
  padding-block: .8em;
  border-block-end: 1px solid var(--background-modifier-border);
}
:is(.markdown-preview-view, .markdown-source-view) li > p:first-child {
  margin: 0;
  color: var(--interactive-accent);
}
:is(.markdown-preview-view, .markdown-source-view) li > p + p, :is(.markdown-preview-view, .markdown-source-view) li > .el-p + .el-p > p {
  font-size: .9em;
  margin-block: .3em 0;
}

