:is(.markdown-preview-view, .markdown-source-view) table:has(td:nth-child(1):hover) th:nth-child(1) {
  background: var(--interactive-accent);
  color: var(--text-on-accent);
}
:is(.markdown-preview-view, .markdown-source-view) table:has(td:nth-child(2):hover) th:nth-child(2) {
  background: var(--interactive-accent);
  color: var(--text-on-accent);
}
:is(.markdown-preview-view, .markdown-source-view) table:has(td:nth-child(3):hover) th:nth-child(3) {
  background: var(--interactive-accent);
  color: var(--text-on-accent);
}
:is(.markdown-preview-view, .markdown-source-view) table:has(td:nth-child(4):hover) th:nth-child(4) {
  background: var(--interactive-accent);
  color: var(--text-on-accent);
}

