.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e029-level: h3;
}

@hacksidian-heading --hacksidian-heading-e029-level h3 {
.markdown-preview-view h3 {
  max-inline-size: 19ch;
  line-height: calc(var(--h3-line-height) * 1.384615);
  font-size: calc(var(--h3-size) * 1.289833);
}
.markdown-preview-view h3 em {
  background: var(--interactive-accent);
  color: white;
  padding: .12em .35em;
  border-radius: .2em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.markdown-preview-view h3 em {
  font-style: normal;
}


}
