:is(.markdown-preview-view, .markdown-source-view) h4 {
  max-inline-size: 19ch;
  line-height: calc(var(--h4-line-height) * 1.384615);
  font-size: calc(var(--h4-size) * 1.289833);
}
:is(.markdown-preview-view, .markdown-source-view) h4 em {
  background: var(--interactive-accent);
  color: white;
  padding: .12em .35em;
  border-radius: .2em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
:is(.markdown-preview-view, .markdown-source-view) h4 em {
  font-style: normal;
}

