:is(.markdown-preview-view, .markdown-source-view) code:not(pre code) {
  padding: .1em .3em;
  border-radius: .28em;
  background: var(--background-secondary);
  background: var(--background-primary);
  box-shadow: 0 0 0 1px var(--background-modifier-border),0 3px 7px rgb(0 0 0 / .15);
}

