:is(.markdown-preview-view, .markdown-source-view) a:hover {
  background: var(--background-secondary);
}
:is(.markdown-preview-view, .markdown-source-view) a:focus-visible {
  outline: 3px dashed var(--interactive-accent);
  outline-offset: 5px;
}
