@supports (animation-timeline:view()) {
  :is(.markdown-preview-view, .markdown-source-view) img {
    animation: hack-image-e080-image-e080-reveal linear both;
    animation-timeline: view();
    animation-range: entry 0% entry 100%;
  }
}
@keyframes hack-image-e080-image-e080-reveal {
  from {
    opacity: .15;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

