:is(.markdown-preview-view, .markdown-source-view) {
  font-family: Georgia,serif;
}
:is(.markdown-preview-view, .markdown-source-view) p {
  margin-block: .25em;
}
:is(.markdown-preview-view, .markdown-source-view) p + p, :is(.markdown-preview-view, .markdown-source-view) .el-p + .el-p > p {
  text-indent: 1.6em;
}

