:is(.markdown-preview-view, .markdown-source-view) h3 {
  font-family: heading-e077-RobotoFlex,sans-serif;
  font-size: calc(var(--h3-size) * 1.517451);
  font-weight: 450;
  letter-spacing: 0;
  font-optical-sizing: none;
}
:is(.markdown-preview-view, .markdown-source-view) h3:nth-of-type(1) {
  font-variation-settings: "opsz" 8;
}
:is(.markdown-preview-view, .markdown-source-view) h3:nth-of-type(2) {
  font-variation-settings: "opsz" 144;
}

