:is(.markdown-preview-view, .markdown-source-view) pre {
  max-height: 10rem;
  overflow: auto;
}
@media print {
  :is(.markdown-preview-view, .markdown-source-view) pre {
    max-height: none;
    height: auto;
    overflow: visible;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    background: white;
    color: black;
    box-shadow: none;
    border: 1px solid #aaa;
  }
}
