:is(.markdown-preview-view, .markdown-source-view) hr {
  border-top: 1px solid currentColor;
}
:is(.markdown-preview-view, .markdown-source-view) hr:nth-of-type(even) {
  width: 4rem;
  border-top: 3px double currentColor;
}
