:is(.markdown-preview-view, .markdown-source-view) p:has(+ ul), :is(.markdown-preview-view, .markdown-source-view) .el-p:has(+ .el-ul) > p {
  font-weight: var(--font-bold);
  margin-block-end: .25em;
  color: var(--interactive-accent);
}
:is(.markdown-preview-view, .markdown-source-view) p + ul, :is(.markdown-preview-view, .markdown-source-view) .el-p + .el-ul > ul {
  margin-block-start: .25em;
}

