:is(.markdown-preview-view, .markdown-source-view) ol {
  counter-reset: step;
  list-style: none;
  padding: 0;
}
:is(.markdown-preview-view, .markdown-source-view) ol > li {
  counter-increment: step;
  position: relative;
  padding-inline-start: 3.2em;
  margin-block: 1.4em;
}
:is(.markdown-preview-view, .markdown-source-view) ol > li::before {
  content: counter(step);
  position: absolute;
  inset: 0 auto auto 0;
  display: grid;
  place-items: center;
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  background: var(--interactive-accent);
  color: var(--text-on-accent);
  font-weight: var(--font-bold);
}
:is(.markdown-preview-view, .markdown-source-view) li > p + p, :is(.markdown-preview-view, .markdown-source-view) li > .el-p + .el-p > p {
  color: var(--text-muted);
  font-size: .9em;
}

