:is(.markdown-preview-view, .markdown-source-view) [data-callout="chronicle"] {
  padding: calc(var(--size-4-1) * 6);
  background: #f3ece5;
  color: #472c27;
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="chronicle"] > .callout-title {
  font-family: Georgia,serif;
  font-size: calc(var(--font-text-size) * 1.5625);
  margin-bottom: calc(var(--size-4-1) * 5.5);
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="chronicle"] > .callout-content {
  counter-reset: event;
  padding-left: calc(var(--size-4-1) * 5.5);
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="event"] {
  position: relative;
  margin: 0;
  padding: 0 0 calc(var(--size-4-1) * 7) calc(var(--size-4-1) * 7);
  border-left: 2px solid #b9a096;
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="event"]::before {
  counter-increment: event;
  content: counter(event);
  position: absolute;
  left: -15px;
  top: 0;
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
  background: #8d4332;
  color: white;
  border-radius: 50%;
  font-size: 12px;
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="event"]:last-child {
  padding-bottom: 0;
  border-color: transparent;
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="event"] > .callout-title {
  font-weight: 750;
  color: #8d4332;
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="event"] p {
  margin-top: calc(var(--size-4-1) * 2);
  font-size: calc(var(--font-text-size) * 0.875);
}

