:is(.markdown-preview-view, .markdown-source-view) li:focus-within {
  background: var(--background-secondary);
}
:is(.markdown-preview-view, .markdown-source-view) li:focus-within::marker {
  color: var(--interactive-accent);
  font-weight: var(--font-bold);
}
