:is(.markdown-preview-view, .markdown-source-view) blockquote {
  border: 0;
  max-inline-size: 28ch;
  margin-inline-start: auto;
  padding: 0;
  font-family: Georgia,serif;
  font-style: italic;
}

