:is(.markdown-preview-view, .markdown-source-view) .callout > .callout-title {
  position: relative;
  padding-inline-start: var(--hacksidian-icon-margin-space, 2.1em);
}
:is(.markdown-preview-view, .markdown-source-view) .callout > .callout-title > .callout-icon {
  position: absolute;
  inset-inline-start: .25em;
  inset-block-start: calc(.5lh + var(--hacksidian-icon-title-top, 0px));
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
:is(.markdown-preview-view, .markdown-source-view) .callout > .callout-content {
  margin-inline-start: var(--hacksidian-icon-margin-space, 2.1em);
}
