.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e088-level: h3;
}

@hacksidian-heading --hacksidian-heading-e088-level h3 {
.markdown-preview-view {
  display: block;
}
.markdown-preview-view h3 {
  font-size: calc(var(--h3-size) * 1.176024);
  line-height: calc(var(--h3-line-height) * 1);
}
.markdown-preview-view h3::before {
  content: "";
  float: left;
  inline-size: 85px;
  block-size: 85px;
  border-radius: 50%;
  background: var(--interactive-accent);
  shape-outside: circle(50%);
  margin-inline-end: calc(var(--size-4-1) * 3);
}
.markdown-preview-view h3::after {
  content: "";
  display: block;
  clear: both;
}

}
