:is(.markdown-preview-view, .markdown-source-view) table:has(tr>:nth-child(1):hover) tr>:nth-child(1) {
  background: var(--background-secondary);
}
:is(.markdown-preview-view, .markdown-source-view) table:has(tr>:nth-child(2):hover) tr>:nth-child(2) {
  background: var(--background-secondary);
}
:is(.markdown-preview-view, .markdown-source-view) table:has(tr>:nth-child(3):hover) tr>:nth-child(3) {
  background: var(--background-secondary);
}
:is(.markdown-preview-view, .markdown-source-view) table:has(tr>:nth-child(4):hover) tr>:nth-child(4) {
  background: var(--background-secondary);
}
:is(.markdown-preview-view, .markdown-source-view) tbody tr:hover>td {
  background: var(--background-secondary);
}
:is(.markdown-preview-view, .markdown-source-view) tbody tr>td:hover {
  background: var(--text-highlight-bg);
  outline: 2px solid var(--interactive-accent);
  outline-offset: -2px;
}

