:is(.markdown-preview-view, .markdown-source-view) [data-callout="letter"] {
  padding: 30px clamp(20px,5vw,44px);
  background: #f7ecd6;
  color: #58452d;
  box-shadow: 0 12px 25px #49331b18;
  border: 1px solid #ddc9a2;
  font-family: Georgia,serif;
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="letter"] > .callout-title {
  font-size: calc(var(--font-text-size) * 1.75);
  font-style: italic;
  border-bottom: 1px solid #ccb78e;
  padding-bottom: calc(var(--size-4-1) * 4.5);
  margin-bottom: calc(var(--size-4-1) * 5);
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="letter"] p {
  line-height: calc(var(--line-height-normal) * 1.2);
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="letter"] p:first-child {
  font-size: calc(var(--font-text-size) * 0.75);
  text-align: right;
  letter-spacing: .04em;
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="letter"] p:nth-child(3)::first-letter {
  float: left;
  font-size: 50px;
  line-height: 1;
  padding-right: calc(var(--size-4-1) * 2);
  color: #986236;
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="letter"] p:last-child {
  text-align: right;
  font-size: calc(var(--font-text-size) * 1.4375);
}

