:is(.markdown-preview-view, .markdown-source-view) a.tag {
  padding: calc(var(--tag-padding-y) * 0.6) calc(var(--tag-padding-x) * 0.84615385);
  background: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  border-radius: calc(var(--radius-s) * 1.25);
  box-shadow: 0 3px 8px #0002;
}

