:is(.markdown-preview-view, .markdown-source-view) a.tag {
  text-decoration: overline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--interactive-accent);
}
:is(.markdown-preview-view, .markdown-source-view) .cm-hashtag {
  text-decoration: overline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--interactive-accent);
}
