@media print {
  :is(.markdown-preview-view, .markdown-source-view) h1, :is(.markdown-preview-view, .markdown-source-view) h2, :is(.markdown-preview-view, .markdown-source-view) h3 {
    break-after: avoid;
  }
  :is(.markdown-preview-view, .markdown-source-view) blockquote, :is(.markdown-preview-view, .markdown-source-view) li {
    break-inside: avoid;
  }
  :is(.markdown-preview-view, .markdown-source-view) p {
    orphans: 3;
    widows: 3;
  }
  :is(.markdown-preview-view, .markdown-source-view) pre {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }
  :is(.markdown-preview-view, .markdown-source-view) {
    box-shadow: none;
    color: #000;
    background: #fff;
  }
}
@media print {
  :is(.markdown-preview-view, .markdown-source-view) h1, :is(.markdown-preview-view, .markdown-source-view) h2, :is(.markdown-preview-view, .markdown-source-view) h3 {
    break-after: avoid;
  }
}
@media print {
  :is(.markdown-preview-view, .markdown-source-view) blockquote, :is(.markdown-preview-view, .markdown-source-view) li {
    break-inside: avoid;
  }
}
@media print {
  :is(.markdown-preview-view, .markdown-source-view) p {
    orphans: 3;
    widows: 3;
  }
}
@media print {
  :is(.markdown-preview-view, .markdown-source-view) pre {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }
}
@media print {
  :is(.markdown-preview-view, .markdown-source-view) {
    box-shadow: none;
    color: #000;
    background: #fff;
  }
}

