:is(.markdown-preview-view, .markdown-source-view) h3 {
  font-family: Georgia,serif;
  border-inline-start: 1px dashed var(--interactive-accent);
  margin-inline-start: .65em;
  font-weight: var(--font-normal);
  text-indent: -.65em;
}

