.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e078-level: h3;
}

@hacksidian-heading --hacksidian-heading-e078-level h3 {
.markdown-preview-view h3 {
  font-family: heading-e078-RobotoFlex,sans-serif;
  font-size: calc(var(--h3-size) * 1.517451);
  font-weight: 450;
  letter-spacing: 0;
}
.markdown-preview-view h3:nth-of-type(1) {
  font-variation-settings: "GRAD" -150;
}
.markdown-preview-view h3:nth-of-type(2) {
  font-variation-settings: "GRAD" 150;
}


}
