:is(.markdown-preview-view, .markdown-source-view) strong {
  display: block;
  font-size: 1.35em;
  line-height: calc(var(--line-height-normal) * 0.8);
  margin-block-end: .35em;
  font-weight: 650;
}
:is(.markdown-preview-view, .markdown-source-view) li + li {
  margin-block-start: 1.3em;
}
:is(.markdown-preview-view, .markdown-source-view) li::marker {
  color: var(--interactive-accent);
}

