:is(.markdown-preview-view, .markdown-source-view) .phone {
  position: relative;
  width: min(100%, 250px);
  margin: auto;
  border: 9px solid #322b39;
  border-radius: calc(var(--radius-s) * 9);
  overflow: hidden;
  box-shadow: 0 18px 30px #322b3925;
}
:is(.markdown-preview-view, .markdown-source-view) .phone::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70px;
  height: 17px;
  background: #322b39;
  top: 0;
  left: calc(50% - 35px);
  border-radius: 0 0 calc(var(--radius-s) * 3) calc(var(--radius-s) * 3);
  pointer-events: none;
}
:is(.markdown-preview-view, .markdown-source-view) iframe {
  height: 410px;
}
