:is(.markdown-preview-view, .markdown-source-view) a.tag {
  padding: calc(var(--tag-padding-y) * 0.48) calc(var(--tag-padding-x) * 0.84615385);
  background: var(--background-secondary);
  border-radius: calc(var(--radius-s) * 3) calc(var(--radius-s) * 0.5) calc(var(--radius-s) * 3) calc(var(--radius-s) * 0.5);
}

