:is(.markdown-preview-view, .markdown-source-view) .markdown-alert-title, :is(.markdown-preview-view, .markdown-source-view) .callout-title {
  position: relative;
  padding-inline-start: calc(var(--icon-size, 18px) + .35em);
  line-height: var(--line-height-normal);
  display: inline-flex;
  align-items: baseline;
  vertical-align: baseline;
  margin: 0;
  margin-inline-end: .3em;
}
:is(.markdown-preview-view, .markdown-source-view) .markdown-alert-title::after, :is(.markdown-preview-view, .markdown-source-view) .callout-title::after {
  content: " — ";
  font-weight: var(--font-normal);
}
:is(.markdown-preview-view, .markdown-source-view) .markdown-alert-title svg, :is(.markdown-preview-view, .markdown-source-view) .callout-title svg {
  display: block;
  margin: 0;
}
:is(.markdown-preview-view, .markdown-source-view) .markdown-alert > p:not(.markdown-alert-title), :is(.markdown-preview-view, .markdown-source-view) .callout > .callout-content > p:not(.callout-title), :is(.markdown-preview-view, .markdown-source-view) .callout > .callout-content {
  display: inline;
  margin: 0;
}


:is(.markdown-preview-view, .markdown-source-view) .callout-title > .callout-icon {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 50%;
  transform: translateY(-50%);
  margin: 0;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-title > .callout-icon::after { content: none; }
