:is(.markdown-preview-view, .markdown-source-view) th, :is(.markdown-preview-view, .markdown-source-view) td {
  /**
   * @parameter Поля сверху и снизу
   * @label-en Vertical cell padding
   * @type number
   * @default 0.25em
   * @unit em
   * @min 0
   * @max 2
   * @step 0.05
   */
  --hacksidian-table-e015-vertical: 0.25em;
  /**
   * @parameter Поля по бокам
   * @label-en Horizontal cell padding
   * @type number
   * @default 0.5em
   * @unit em
   * @min 0
   * @max 3
   * @step 0.05
   */
  --hacksidian-table-e015-horizontal: 1.5em;
  padding: var(--hacksidian-table-e015-vertical) var(--hacksidian-table-e015-horizontal);
  line-height: calc(var(--table-line-height) * 1.00000038);
}

