:is(.markdown-preview-view, .markdown-source-view) tr>:nth-child(3) {
  background: var(--background-secondary);
  border-inline: 2px solid var(--interactive-accent);
}
:is(.markdown-preview-view, .markdown-source-view) th:nth-child(3) {
  color: var(--interactive-accent);
}

