:is(.markdown-preview-view, .markdown-source-view) blockquote {
  counter-reset: pause;
}
:is(.markdown-preview-view, .markdown-source-view) hr {
  counter-increment: pause;
  height: 24px;
  display: grid;
  place-items: center;
}
:is(.markdown-preview-view, .markdown-source-view) hr::after {
  content: counter(pause,decimal-leading-zero);
  font: 12px/1 ui-monospace,monospace;
  letter-spacing: .12em;
}

