.theme-light :is(.markdown-preview-view, .markdown-source-view) mark {
  background: var(--background-secondary);
  color: var(--text-normal);
  outline: 1px solid var(--text-accent);
}
.theme-dark :is(.markdown-preview-view, .markdown-source-view) mark {
  background: var(--background-primary-alt);
  color: var(--text-normal);
  outline: 2px solid var(--text-accent);
}
