:is(.markdown-preview-view, .markdown-source-view) blockquote {
  border: 0;
  text-align: center;
  max-inline-size: 28ch;
  margin-inline: auto;
  padding: 1em 0;
  font-family: Georgia,serif;
  font-size: 1.3em;
}

