.markdown-source-view.mod-cm6 .metadata-properties {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(100%,15rem),1fr));
  gap: 8px 20px;
}
.markdown-source-view.mod-cm6 .metadata-property {
  min-width: 0;
}

