:is(.markdown-preview-view, .markdown-source-view) a.tag {
  padding: calc(var(--tag-padding-y) * 0.48) calc(var(--tag-padding-x) * 0.76923077);
  border: 1px dashed currentColor;
  border-radius: var(--radius-s);
}

