:is(.markdown-preview-view, .markdown-source-view) li > p:not(:first-child) a {
  display: inline-block;
  border: 1px solid var(--background-modifier-border);
  padding: .2em .6em;
  border-radius: .35em;
  margin: .2em .3em .2em 0;
  font-size: .82em;
  text-decoration: none;
}

