:is(.markdown-preview-view, .markdown-source-view) code:not(pre code) {
  padding: .1em .3em;
  border-radius: .28em;
  background: var(--background-secondary);
}
:is(.markdown-preview-view, .markdown-source-view) blockquote code:not(pre code) {
  color: inherit;
  font-style: normal;
  border: 1px solid var(--code-border-color);
}

