:is(.markdown-preview-view, .markdown-source-view) code:not(pre code) {
  padding: .15em .35em;
  background: #142c2a;
  color: #e9fff9;
  text-shadow: 0 0 4px #79dfbc,0 0 12px #35ab86;
  border-radius: .2em;
}

