:is(.markdown-preview-view, .markdown-source-view) .expand-panel {
  margin-top: calc(var(--size-4-1) * 3.5);
}
:is(.markdown-preview-view, .markdown-source-view) .close {
  display: none;
}
:is(.markdown-preview-view, .markdown-source-view) .toggle:checked ~ .expand-panel {
  position: fixed;
  inset: 20px;
  z-index: 100;
  padding: calc(var(--size-4-1) * 4);
  background: #fffdf9;
  box-shadow: 0 0 0 100vmax #201725bb;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  gap: calc(var(--size-4-1) * 3);
}
:is(.markdown-preview-view, .markdown-source-view) .toggle:checked ~ .expand-panel .close {
  display: block;
}
:is(.markdown-preview-view, .markdown-source-view) .toggle:checked ~ .expand-panel iframe {
  height: 100%;
}

