.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e100-level: h3;
}

@hacksidian-heading --hacksidian-heading-e100-level h3 {
.markdown-preview-view h3 {
  font-size: calc(var(--h3-size) * 1.138088);
}
.markdown-preview-view h3:has(em) {
  color: var(--interactive-accent);
}
.markdown-preview-view h3 em {
  display: block;
  font-size: calc(var(--h3-size) * 0.758725);
  color: var(--text-muted);
  font-weight: var(--font-normal);
  margin-top: .4rem;
}


}
