:is(.markdown-preview-view, .markdown-source-view) li {
  padding: .5em;
  border-radius: .3em;
}
:is(.markdown-preview-view, .markdown-source-view) li:has(a:hover), :is(.markdown-preview-view, .markdown-source-view) li:focus-within {
  background: var(--background-secondary);
}

