:is(.markdown-preview-view, .markdown-source-view) img {
  filter: blur(4px);
  transition: filter .4s;
}
:is(.markdown-preview-view, .markdown-source-view) a:hover img, :is(.markdown-preview-view, .markdown-source-view) a:focus-visible img {
  filter: blur(0);
}

