:is(.markdown-preview-view, .markdown-source-view) h3 {
  font-size: calc(var(--h3-size) * 1.327769);
}
:is(.markdown-preview-view, .markdown-source-view) h3 em {
  display: block;
}
:is(.markdown-preview-view, .markdown-source-view) h3 em:nth-of-type(2) {
  padding-inline-start: 1em;
}
:is(.markdown-preview-view, .markdown-source-view) h3 em:nth-of-type(3) {
  padding-inline-start: 2em;
  color: var(--interactive-accent);
}
:is(.markdown-preview-view, .markdown-source-view) h3 em {
  font-style: normal;
}
