:is(.markdown-preview-view, .markdown-source-view) {
  /**
   * @parameter Фон 1 — свой цвет
   * @type color
   * @default #bd5036
   */
  --hacksidian-code-e043-color-1-custom: #bd5036;
  /**
   * @parameter Фон 1 — источник
   * @type select
   * @default var(--hacksidian-code-e043-color-1-custom)
   * @option var(--hacksidian-code-e043-color-1-custom) | Свой цвет
   * @option var(--color-red) | Красный
   * @option var(--color-orange) | Оранжевый
   * @option var(--color-yellow) | Жёлтый
   * @option var(--color-green) | Зелёный
   * @option var(--color-cyan) | Циан
   * @option var(--color-blue) | Синий
   * @option var(--color-purple) | Фиолетовый
   * @option var(--color-pink) | Розовый
   * @option var(--background-primary) | Фон страницы
   * @option var(--background-secondary) | Вторичный фон
   * @option var(--text-normal) | Основной текст
   * @option var(--text-muted) | Приглушённый текст
   * @option var(--background-modifier-border) | Рамка темы
   */
  --hacksidian-code-e043-color-1: var(--color-green);

  /**
   * @parameter Текст 2 — свой цвет
   * @type color
   * @default #ffffff
   */
  --hacksidian-code-e043-color-2-custom: #ffffff;
  /**
   * @parameter Текст 2 — источник
   * @type select
   * @default var(--hacksidian-code-e043-color-2-custom)
   * @option var(--hacksidian-code-e043-color-2-custom) | Свой цвет
   * @option var(--color-red) | Красный
   * @option var(--color-orange) | Оранжевый
   * @option var(--color-yellow) | Жёлтый
   * @option var(--color-green) | Зелёный
   * @option var(--color-cyan) | Циан
   * @option var(--color-blue) | Синий
   * @option var(--color-purple) | Фиолетовый
   * @option var(--color-pink) | Розовый
   * @option var(--background-primary) | Фон страницы
   * @option var(--background-secondary) | Вторичный фон
   * @option var(--text-normal) | Основной текст
   * @option var(--text-muted) | Приглушённый текст
   * @option var(--background-modifier-border) | Рамка темы
   */
  --hacksidian-code-e043-color-2: var(--hacksidian-code-e043-color-2-custom);

}

:is(.markdown-preview-view, .markdown-source-view) pre > code::selection {
  background: var(--hacksidian-code-e043-color-1);
  color: var(--hacksidian-code-e043-color-2);
}
