:is(.markdown-preview-view, .markdown-source-view) h3 {
  text-decoration: underline;
  text-decoration-color: var(--interactive-accent);
  text-decoration-thickness: 3px;
  text-underline-offset: .2em;
}

