.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e009-level: h3;
}

@hacksidian-heading --hacksidian-heading-e009-level h3 {
.markdown-preview-view h3 {
  max-inline-size: 14ch;
  line-height: calc(var(--h3-line-height) * 0.830769);
  font-size: calc(var(--h3-size) * 2.048558);
}

}
