:is(.markdown-preview-view, .markdown-source-view) code:not(pre code)::before {
  content: "⟦";
  color: var(--interactive-accent);
}
:is(.markdown-preview-view, .markdown-source-view) code:not(pre code)::after {
  content: "⟧";
  color: var(--interactive-accent);
}
