:is(.markdown-preview-view, .markdown-source-view) a::after {
  content: " ↗";
  opacity: 0;
}
:is(.markdown-preview-view, .markdown-source-view) a:is(:hover, :focus-visible)::after {
  opacity: 1;
}
@media(hover:none) {
  :is(.markdown-preview-view, .markdown-source-view) a::after {
    opacity: 1;
  }
}

