:is(.markdown-preview-view, .markdown-source-view) li[data-task] {
  position: relative;
  list-style: none;
  padding-inline-start: 1.9em;
  text-decoration: none;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task] > input, :is(.markdown-preview-view, .markdown-source-view) li[data-task] > p:first-child > input {
  display: none;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task]::before {
  content: attr(data-task);
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: .14em;
  display: grid;
  place-items: center;
  width: 1.25em;
  height: 1.25em;
  line-height: 1;
  font-weight: var(--font-bold);
  color: var(--interactive-accent);
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="#"] {
  padding: .6em;
  background: var(--text-normal);
  color: transparent;
  border-radius: .4em;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="#"]::before {
  content: none;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="#"] * {
  color: transparent;
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="#"]:hover, :is(.markdown-preview-view, .markdown-source-view) li[data-task="#"]:focus-within {
  color: var(--text-normal);
  background: var(--background-secondary);
}
:is(.markdown-preview-view, .markdown-source-view) li[data-task="#"]:is(:hover,:focus-within) * {
  color: inherit;
}

