:is(.markdown-preview-view, .markdown-source-view) hr {
  height: 3px;
  background: linear-gradient(90deg,#c7704e,#647aa7,#78a38a,#c7704e);
  background-size: 300% 100%;
  animation: hack-hr-e096-hr-e096-hr-colors 8s ease-in-out infinite alternate;
}
@keyframes hack-hr-e096-hr-e096-hr-colors {
  to {
    background-position: 100% 0;
  }
}
@media (prefers-reduced-motion:reduce) {
  :is(.markdown-preview-view, .markdown-source-view) hr {
    animation: none;
  }
}

