:is(.markdown-preview-view, .markdown-source-view) .callout-content table {
  border-collapse: collapse;
  width: 100%;
  font-size: calc(var(--table-text-size) * 0.88);
}
:is(.markdown-preview-view, .markdown-source-view) .callout-content th, :is(.markdown-preview-view, .markdown-source-view) .callout-content td {
  padding: .5em;
  border-block-end: var(--table-border-width) solid var(--table-border-color);
  text-align: start;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-content th {
  color: var(--callout-color);
}

