:is(.markdown-preview-view, .markdown-source-view) h3 {
  inline-size: fit-content;
  background: var(--background-secondary);
  padding: .55em 1em;
  border-radius: 2em;
  font-size: calc(var(--h3-size) * 0.948407);
}

