:is(.markdown-preview-view, .markdown-source-view) .callout {
  background: var(--background-primary);
  border: 1px solid var(--callout-color);
  margin-block: 1.5em 1em;
  padding: 0 1em .75em;
  overflow: visible;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-title {
  width: fit-content;
  max-width: 100%;
  background: var(--background-primary);
  padding: 0 .5em;
  margin: -.75em 0 0 -.5em;
  line-height: 1.5;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-content > :first-child { margin-top: .5em; }
:is(.markdown-preview-view, .markdown-source-view) .callout-content > :last-child { margin-bottom: 0; }
