:is(.markdown-preview-view, .markdown-source-view) > h1 + p::first-letter, :is(.markdown-preview-view, .markdown-source-view) .el-h1 + .el-p > p::first-letter {
  float: left;
  font-family: Georgia,serif;
  /**
   * @parameter Размер буквицы
   * @label-en Drop cap size
   * @type number
   * @default 4em
   * @unit em
   * @min 2
   * @max 8
   * @step 0.1
   */
  --hacksidian-note-dropcap-size: 4em;
  font-size: var(--hacksidian-note-dropcap-size);
  line-height: .8;
  margin: .12em .12em 0 0;
  color: var(--interactive-accent);
}

