:is(.markdown-preview-view, .markdown-source-view) h3 {
  font-size: calc(var(--h3-size) * 1.327769);
}
:is(.markdown-preview-view, .markdown-source-view) h3 a {
  opacity: 0;
  color: var(--interactive-accent);
  text-decoration: none;
  padding: .2em;
}
:is(.markdown-preview-view, .markdown-source-view) h3:hover a, :is(.markdown-preview-view, .markdown-source-view) h3:focus-within a {
  opacity: 1;
}
@media (hover:none) {
  :is(.markdown-preview-view, .markdown-source-view) h3 a {
    opacity: 1;
  }
}

