.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e016-level: h3;
}

@hacksidian-heading --hacksidian-heading-e016-level h3 {
.markdown-preview-view h3 {
  max-inline-size: 19ch;
  font-weight: 450;
}
.markdown-preview-view h3::first-line {
  color: var(--interactive-accent);
  font-weight: 850;
}

}
