:is(.markdown-preview-view, .markdown-source-view) h3 {
  display: inline-block;
  rotate: -4deg;
  background: var(--text-highlight-bg);
  padding: .4em;
  font-size: calc(var(--h3-size) * 1.213961);
}

