:is(.markdown-preview-view, .markdown-source-view) [data-callout="margin"] {
  float: right;
  width: 40%;
  margin: 0 0 calc(var(--size-4-1) * 4.5) calc(var(--size-4-1) * 6);
  padding: var(--size-4-1) 0 var(--size-4-1) calc(var(--size-4-1) * 3.75);
  border-left: 2px solid #b5523f;
  color: #864433;
  font-size: calc(var(--font-text-size) * 0.8125);
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="margin"] > .callout-title {
  font-weight: 800;
  font-size: calc(var(--font-text-size) * 0.9375);
}
@media(max-width:650px) {
  :is(.markdown-preview-view, .markdown-source-view) [data-callout="margin"] {
    float: none;
    width: auto;
    margin: 0 0 calc(var(--size-4-1) * 5.5);
  }
}

