:is(.markdown-preview-view, .markdown-source-view) code:not(pre code) {
  padding: .1em .3em;
  border-radius: .28em;
  background: var(--background-secondary);
}
:is(.markdown-preview-view, .markdown-source-view) strong code:not(pre code) {
  font-weight: var(--font-bold);
  background: var(--text-highlight-bg);
}

