:is(.markdown-preview-view, .markdown-source-view) td {
  color: var(--text-muted);
}
:is(.markdown-preview-view, .markdown-source-view) td:first-child {
  color: var(--text-normal);
  font-weight: var(--font-bold);
}
