:is(.markdown-preview-view, .markdown-source-view) .callout-content p {
  margin-block: .8em;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-content > :first-child {
  margin-top: 0;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-content > :last-child {
  margin-bottom: 0;
}

