.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e087-level: h3;
}

@hacksidian-heading --hacksidian-heading-e087-level h3 {
.markdown-preview-view {
  columns: 2;
  column-gap: 1.3rem;
  column-rule: 1px solid var(--background-modifier-border);
}
.markdown-preview-view h3 {
  column-span: all;
  font-family: Georgia,serif;
  font-size: calc(var(--h3-size) * 1.289833);
  margin-bottom: 1rem;
}
.markdown-preview-view p {
  font-size: calc(var(--font-text-size) * 0.8);
}
@container markdown-demo (max-width:330px) {
  .markdown-preview-view {
    columns: 1;
  }
}
.markdown-preview-view {
  display: block;
}


}
