:is(.markdown-preview-view, .markdown-source-view) blockquote {
  font-style: italic;
}
:is(.markdown-preview-view, .markdown-source-view) blockquote em {
  font-style: normal;
  text-decoration: underline;
  text-underline-offset: .18em;
}
:is(.markdown-preview-view, .markdown-source-view) blockquote strong {
  font-weight: 750;
}

