:is(.markdown-preview-view, .markdown-source-view) code:not(pre code) {
  padding: .1em .35em;
  border: 1px solid var(--code-border-color);
  border-radius: .25em;
  white-space: break-spaces;
  overflow-wrap: anywhere;
  user-select: all;
  -webkit-user-select: all;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
:is(.markdown-preview-view, .markdown-source-view) code:not(pre code):hover {
  background: var(--text-highlight-bg);
}

