:is(.markdown-preview-view, .markdown-source-view) blockquote {
  border-inline-start: var(--blockquote-border-thickness) solid var(--interactive-accent);
  padding-inline-start: 1em;
}
:is(.markdown-preview-view, .markdown-source-view) blockquote:has(ul) {
  padding: 1em;
  background: var(--background-secondary);
  border-radius: .4em;
}

