:is(.markdown-preview-view, .markdown-source-view) [data-callout="dialogue"] {
  padding: calc(var(--size-4-1) * 6);
  background: #eaf0f6;
  color: #213647;
  border-radius: calc(var(--radius-s) * 4.5);
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="dialogue"] > .callout-title {
  text-align: center;
  margin-bottom: calc(var(--size-4-1) * 6);
  font-size: calc(var(--font-text-size) * 0.8125);
  text-transform: uppercase;
  letter-spacing: .1em;
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="dialogue"] > .callout-content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--size-4-1) * 3.5);
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="dialogue"] p {
  max-width: 85%;
  margin: 0;
  padding: calc(var(--size-4-1) * 3.5) calc(var(--size-4-1) * 4.5);
  background: white;
  border-radius: calc(var(--radius-s) * 4) calc(var(--radius-s) * 4) calc(var(--radius-s) * 4) calc(var(--radius-s) * 0.75);
  align-self: flex-start;
  font-size: calc(var(--font-text-size) * 0.875);
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="dialogue"] p:nth-child(even) {
  align-self: flex-end;
  background: #294c66;
  color: white;
  border-radius: calc(var(--radius-s) * 4) calc(var(--radius-s) * 4) calc(var(--radius-s) * 0.75) calc(var(--radius-s) * 4);
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="dialogue"] strong + br {
  display: none;
}
:is(.markdown-preview-view, .markdown-source-view) [data-callout="dialogue"] strong {
  display: block;
  font-size: calc(var(--font-text-size) * 0.6875);
  margin-bottom: calc(var(--size-4-1) * 1.25);
  opacity: .8;
}

