:is(.markdown-preview-view, .markdown-source-view) {
  /**
   * @parameter Фон 1 — свой цвет
   * @type color
   * @default #eef1e8
   */
  --hacksidian-code-e047-color-1-custom: #eef1e8;
  /**
   * @parameter Фон 1 — источник
   * @type select
   * @default var(--hacksidian-code-e047-color-1-custom)
   * @option var(--hacksidian-code-e047-color-1-custom) | Свой цвет
   * @option var(--color-red) | Красный
   * @option var(--color-orange) | Оранжевый
   * @option var(--color-yellow) | Жёлтый
   * @option var(--color-green) | Зелёный
   * @option var(--color-cyan) | Циан
   * @option var(--color-blue) | Синий
   * @option var(--color-purple) | Фиолетовый
   * @option var(--color-pink) | Розовый
   * @option var(--background-primary) | Фон страницы
   * @option var(--background-secondary) | Вторичный фон
   * @option var(--text-normal) | Основной текст
   * @option var(--text-muted) | Приглушённый текст
   * @option var(--background-modifier-border) | Рамка темы
   */
  --hacksidian-code-e047-color-1: var(--hacksidian-code-e047-color-1-custom);

}

:is(.markdown-preview-view, .markdown-source-view) ol {
  padding-left: calc(var(--size-4-1) * 6);
}
:is(.markdown-preview-view, .markdown-source-view) li pre {
  margin-block: calc(var(--size-4-1) * 2) calc(var(--size-4-1) * 4.5);
  padding: calc(var(--size-4-1) * 3);
  background: var(--hacksidian-code-e047-color-1);
}
