.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e048-level: h3;
}

@hacksidian-heading --hacksidian-heading-e048-level h3 {
.markdown-preview-view h3 {
  font-size: calc(var(--h3-size) * 2.124431);
  font-weight: 900;
  color: var(--interactive-accent);
}
@supports (-webkit-text-stroke:1px red) {
  .markdown-preview-view h3 {
    color: transparent;
    -webkit-text-stroke: 1.4px var(--text-normal);
  }
}


}
