:is(.markdown-preview-view, .markdown-source-view) .callout {
  /**
   * @parameter Есть/нет рамка
   * @type select
   * @default 1px
   * @option 1px | Есть | On
   * @option 0px | Нет | Off
   */
  --hacksidian-callout-dots-border: 1px;
  /**
   * @parameter Расстояние между точками по горизонтали
   * @type number
   * @default 10px
   * @unit px
   * @min 2
   * @max 100
   * @step 1
   */
  --hacksidian-callout-dots-spacing-x: 10px;
  /**
   * @parameter Расстояние между точками по вертикали
   * @type number
   * @default 10px
   * @unit px
   * @min 2
   * @max 100
   * @step 1
   */
  --hacksidian-callout-dots-spacing-y: 10px;
  background-color: var(--background-primary);
  background-image: radial-gradient(circle, var(--background-modifier-border) 1px, transparent 1.5px);
  background-size: max(2px, var(--hacksidian-callout-dots-spacing-x)) max(2px, var(--hacksidian-callout-dots-spacing-y));
  border: var(--hacksidian-callout-dots-border) solid var(--background-modifier-border);
}
