:is(.markdown-preview-view, .markdown-source-view) .callout {
  padding: 0;
  background: transparent;
  border: 0;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-title {
  padding: .6em .8em;
  --hacksidian-icon-title-top: .6em;
  margin: 0;
}
:is(.markdown-preview-view, .markdown-source-view) .callout-content {
  padding: 1em;
  background: var(--background-secondary);
  box-shadow: inset 0 2px 5px #00000012;
  border-radius: .4em;
}

