.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e084-level: h3;
}

@hacksidian-heading --hacksidian-heading-e084-level h3 {
.markdown-preview-view h3 {
  font-size: calc(var(--h3-size) * 1.896813);
  text-transform: uppercase;
}
.markdown-preview-view h3 em {
  display: block;
}
.markdown-preview-view h3 em:nth-of-type(2) {
  text-align: center;
  color: var(--interactive-accent);
}
.markdown-preview-view h3 em:nth-of-type(3) {
  text-align: end;
}
.markdown-preview-view h3 em {
  font-style: normal;
}

}
