.markdown-preview-view {
  /**
   * @parameter Уровень заголовка
   * @label-en Heading level
   * @type select
   * @default h3
   * @option h1 | H1
   * @option h2 | H2
   * @option h3 | H3
   * @option h4 | H4
   * @option h5 | H5
   * @option h6 | H6
   */
  --hacksidian-heading-e034-level: h3;
}

@hacksidian-heading --hacksidian-heading-e034-level h3 {
.markdown-preview-view h3::after {
  content: "";
  display: inline-block;
  inline-size: .7em;
  block-size: .7em;
  margin-inline-start: .35em;
  background: var(--interactive-accent);
  clip-path: polygon(50% 0,62% 38%,100% 50%,62% 62%,50% 100%,38% 62%,0 50%,38% 38%);
}


}
