:is(.markdown-preview-view, .markdown-source-view) h3::after {
  content: "";
  display: inline-block;
  inline-size: .7em;
  block-size: .7em;
  margin-inline-start: .35em;
  background: var(--interactive-accent);
  clip-path: polygon(50% 0,62% 38%,100% 50%,62% 62%,50% 100%,38% 62%,0 50%,38% 38%);
}

