:is(.markdown-preview-view, .markdown-source-view) h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: calc(var(--h3-size) * 1.213961);
  max-inline-size: 16ch;
}
